body
{
    /* background: #59B1BD url("/imgs/Two.jpg") fixed;
    background-position:left;
    background-repeat: no-repeat;
    background-size:auto; */
    /* background-image: url('imgs/one.jpg'); */
    background-color: #E7D1DD;
}
.container
{
    margin-left: 100px;
    margin-right: 100px;

}
.navbar
{
    background-color: black;
    color: #E7D1DD;
    font-size: 1.3rem;
}

.btn-design
{
    margin-top: 10%;
    margin-right:3%;
    padding-right: 3%;
    padding-left: 3%;
    font-weight: bolder;
}