body
{
    background-color: #E7D1DD;
}
body p
{
    font-size: 1.5rem;
}

body h2
{
    font-size: 2.5rem;
    line-height: 1.5;
}

.container
{
    margin-left: 100px;
    margin-right: 100px;

}
.navbar
{
    background-color: black;
    color: #E7D1DD;
    font-size: 1.2rem;
}
.navbar-brand
{
    font-size: 1.5rem;
}

.btn-design
{
    margin-top: 10%;
    margin-right:3%;
    padding-right: 3%;
    padding-left: 3%;
    font-weight: bolder;
    font-size: 1.3rem;
}